html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: -webkit-linear-gradient( to right,#182848,#4b6cb7);
  background: #4b6cb7;
  background: linear-gradient(to right,#182848,#4b6cb7);
  color: white;
  display: block;
  font-family: "Carrois Gothic SC", sans-serif;
  line-height: 0.8;
  text-align: center;
}

h1 {
  font-size: 3.8rem;
}

h2 {
  font-size: 3.4rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.6rem;
}

a {
  font-size: 1.4rem;
}

p {
  font-size: 2.2rem;
}

img {
  max-width: 10%;
}


.container {
  max-width: 120rem;
  margin: 10rem auto 0 auto;
}
